cleanup = false

process {
  conda = '/nfs/users/nfs_a/at31/miniforge3/envs/jupy'
  withLabel: week16core20gb {
    queue = "week"
    cpus = 16
    memory = { 20.GB * task.attempt }
  }
  withLabel: week16core40gb {
    queue = "week"
    cpus = 16
    memory = { 40.GB * task.attempt }
  }
  withLabel: week16core60gb {
    queue = "week"
    cpus = 16
    memory = { 60.GB * task.attempt }
  }
}
  
params {
  gene_order_file = '/lustre/scratch125/casm/team268im/at31/RA_som_mut/infercnv/data/hg38_gencode_v27.txt'
}