params {
    output_dir = '/lustre/scratch125/casm/team268im/at31/RA_som_mut/out/infercnv/'
    mappings = '/lustre/scratch125/casm/team268im/at31/RA_som_mut/data/infercnv/mappings.csv'
    gene_order_file = '/lustre/scratch125/casm/team268im/at31/RA_som_mut/data/infercnv/hg38_gencode_v27.txt'
    }