conda.enabled = true

executor {
    name = 'lsf'
    perJobMemLimit = true
}

process {
    conda = "/nfs/team205/kp9/miniconda3/envs/scomatic"
    errorStrategy = { task.exitStatus in [9, 130] ? 'retry' : 'terminate' }
    maxRetries = 6
    withLabel: normal {
        queue = "normal"
        cpus = 1
        memory = { 2.GB * task.attempt * task.attempt }
    }
    withLabel: normal4core {
        queue = "normal"
        cpus = 4
        memory = { 2.GB * task.attempt * task.attempt }
    }
    withLabel: long {
        queue = "long"
        cpus = 1
        memory = { 2.GB * task.attempt * task.attempt }
    }
    withLabel: long16core {
        queue = "long"
        cpus = 16
        memory = { 2.GB * task.attempt * task.attempt }
    }
    withLabel: long10gb {
        queue = "long"
        cpus = 1
        memory = { 10.GB * task.attempt * task.attempt }
    }
    withLabel: long16core10gb {
        queue = "long"
        cpus = 16
        memory = { 10.GB * task.attempt * task.attempt }
        scratch = true
    }
    withLabel: week {
        queue = "week"
        cpus = 1
        memory = { 2.GB * task.attempt * task.attempt }
    }
    withLabel: week16core10gb {
        queue = "week"
        cpus = 16
        memory = { 10.GB * task.attempt * task.attempt }
        scratch = true
    }
}
