params {
  // Generic options
  help = false

  // Input/output options
  mappings = null
  annotations = null
  gene_order_file = null
  outdir = null
  annotation_col = "celltype"
  cutoff = 1
  min_cells_per_gene = 3
  output_format = "png"

  // Smoothing options
  window_length = 101
  smooth_method = "pyramidinal"
  num_ref_groups = null
  ref_subtract_use_mean_bounds = true
  cluster_by_groups = false
  cluster_references = true
  k_obs_groups = 1
  hclust_method = "ward.D2"
  max_centered_threshold = 3
  scale_data = false

  // Downstream analyses (HMM or non-DE-masking) based on tumour subclusters
  HMM = false
  HMM_transition_prob = 0.000001
  HMM_report_by = "subcluster"
  HMM_type = "i6"
  HMM_i3_pval = 0.05
  HMM_i3_use_KS = true

  // Filtering low confidence HMM predictions via BayesNet P(Normal)
  BayesMaxPNormal = 0.5
  reassignCNVs = true

  // Tumour subclustering
  analysis_mode       = "subclusters"
  tumor_subcluster_partition_method = "leiden"
  tumor_subcluster_pval = 0.01
  k_nn = 20
  leiden_method = "PCA"
  leiden_function = "CPM"
  leiden_resolution = 0.05
  leiden_method_per_chr = "simple"
  leiden_function_per_chr = "modularity"
  leiden_resolution_per_chr = 1
  per_chr_hmm_subclusters = false
  per_chr_hmm_subclusters_references = false
  z_score_filter = 0.8

  // Denoising
  denoise = false
  noise_filter = null
  sd_amplifier = 1
  noise_logistic = true

  // Outlier pruning
  outlier_method_bound = "average_bound"
  outlier_lower_bound = null
  outlier_upper_bound = null

  // Miscellandeous
  final_scale_limits = null
  final_center_val = null
  debug = false
  plot_steps = false
  inspect_subclusters = true
  png_res = 300
  no_plot = false
  no_prelim_plot = false
  write_expr_matrix = false
  write_phylo = false
  plot_chr_scale = false
  useRaster = true
  plot_probabilities = true
  save_rds = true
  save_final_rds = true

}